body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  justify-items: center;
}
h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: blueviolet;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #8b5cf6;
}

p {
  text-align: center;
}

a {
  color: blueviolet;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
